.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}